In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import glob
import os

In [3]:
%matplotlib inline

In [11]:
# for Asht district
path = r'C:\Users\GIC\Desktop\tek\Graphs\notebook\data\Exposure_tables\Asht'
all_files = glob.glob(os.path.join(path, "*.xls"))
print(all_files)

# concate excel data
df = pd.concat(map(pd.read_excel, glob.glob(os.path.join(path, '*.xls'))), axis=1)

# for output final dataset
df.to_csv('data/Exposure_tables/_csv/asht.csv', encoding='utf-8', index=False)

['C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_DR.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_EQ.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_FL.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_LS.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_MF.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_SA.xls', 'C:\\Users\\GIC\\Desktop\\tek\\Graphs\\notebook\\data\\Exposure_tables\\Asht\\Asht_jamoat_exposure_WS.xls']

In [17]:
def outputCSV(name):
    # for Asht district
    path = r'C:\Users\GIC\Desktop\tek\Graphs\notebook\data\Exposure_tables\{}'.format(name)
    all_files = glob.glob(os.path.join(path, "*.xls"))
    #print(all_files)

    # concate excel data
    df = pd.concat(map(pd.read_excel, glob.glob(os.path.join(path, '*.xls'))), axis=1)

    # for output final dataset
    df.to_csv('data/Exposure_tables/_csv/{}.csv'.format(name), encoding='utf-8', index=False)

In [21]:
outputCSV("Ayni")

In [22]:
outputCSV("Bobojon")
outputCSV('Devashtich')
outputCSV('Isfara')
outputCSV('Istaravshan')
outputCSV('Jabbor_Rasulov')
outputCSV('Konibodom')

In [23]:
outputCSV('Kuhistoni_Mastchoh')
outputCSV('Mastchoh')
outputCSV('Panjakent')
outputCSV('Shahriston')
outputCSV('Spitamen')
outputCSV('Zafarobod')

In [27]:
#making dataframe for all combining datasets
path= r'C:\Users\GIC\Desktop\tek\Graphs\notebook\data\Exposure_tables\_csv'
df= pd.concat(map(pd.read_csv, glob.glob(os.path.join(path, '*.csv'))), axis=0)

C:\Users\GIC\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
df.head()

,AGRI_AREA,AGRI_AREA.1,AGRI_AREA.2,AGRI_AREA.3,AGRI_AREA.4,AGRI_AREA.5,AGRI_AREA.6,AGRI_DR_10,AGRI_DR_11,AGRI_DR_12,...,Shape_Length.4,Shape_Length.5,Shape_Length.6,TEMP,TEMP.1,TEMP.2,TEMP.3,TEMP.4,TEMP.5,TEMP.6
0,2992,2992,2992,2992,2992,2992,2992,0,0,0,...,143639.872484,143639.872484,143639.872484,100,0,0,0,0,0,0
1,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,76782.018110,76782.018110,76782.018110,95,0,0,0,0,0,0
2,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,31333.528856,31333.528856,31333.528856,95,0,0,0,0,0,0
3,1064,1064,1064,1064,1064,1064,1064,0,0,0,...,73993.806147,73993.806147,73993.806147,100,0,0,0,0,0,0
4,11576,11576,11576,11576,11576,11576,11576,0,0,0,...,160412.185629,160412.185629,160412.185629,100,0,0,0,0,0,0

In [28]:
df

,AGRI_AREA,AGRI_AREA.1,AGRI_AREA.2,AGRI_AREA.3,AGRI_AREA.4,AGRI_AREA.5,AGRI_AREA.6,AGRI_DR_10,AGRI_DR_11,AGRI_DR_12,...,Shape_Length.4,Shape_Length.5,Shape_Length.6,TEMP,TEMP.1,TEMP.2,TEMP.3,TEMP.4,TEMP.5,TEMP.6
0,2992,2992,2992,2992,2992,2992,2992,0,0,0,...,143639.872484,143639.872484,143639.872484,100,0,0,0,0,0,0
1,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,76782.018110,76782.018110,76782.018110,95,0,0,0,0,0,0
2,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,31333.528856,31333.528856,31333.528856,95,0,0,0,0,0,0
3,1064,1064,1064,1064,1064,1064,1064,0,0,0,...,73993.806147,73993.806147,73993.806147,100,0,0,0,0,0,0
4,11576,11576,11576,11576,11576,11576,11576,0,0,0,...,160412.185629,160412.185629,160412.185629,100,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,10636,10636,10636,10636,10636,10636,10636,0,0,0,...,61089.242522,61089.242522,61089.242522,99,0,0,0,0,0,0
1,5857,5857,5857,5857,5857,5857,5857,0,0,0,...,32691.648718,32691.648718,32691.648718,63,0,0,0,0,0,0
2,6566,6566,6566,6566,6566,6566,6566,0,0,0,...,37212.766270,37212.766270,37212.766270,0,0,0,0,0,0,0
3,4928,4928,4928,4928,4928,4928,4928,0,0,0,...,32388.667103,32388.667103,32388.667103,0,0,0,0,0,0,0
4,11905,11905,11905,11905,11905,11905,11905,0,0,0,...,48921.648995,48921.648995,48921.648995,0,0,0,0,0,0,0

In [29]:
df.columns

Index(['AGRI_AREA', 'AGRI_AREA.1', 'AGRI_AREA.2', 'AGRI_AREA.3', 'AGRI_AREA.4',
       'AGRI_AREA.5', 'AGRI_AREA.6', 'AGRI_DR_10', 'AGRI_DR_11', 'AGRI_DR_12',
       ...
       'Shape_Length.4', 'Shape_Length.5', 'Shape_Length.6', 'TEMP', 'TEMP.1',
       'TEMP.2', 'TEMP.3', 'TEMP.4', 'TEMP.5', 'TEMP.6'],
      dtype='object', length=508)

In [30]:
for col in df.columns:
    print(col)

AGRI_AREA
AGRI_AREA.1
AGRI_AREA.2
AGRI_AREA.3
AGRI_AREA.4
AGRI_AREA.5
AGRI_AREA.6
AGRI_DR_10
AGRI_DR_11
AGRI_DR_12
AGRI_DR_13
AGRI_DR_14
AGRI_DR_25
AGRI_DR_26
AGRI_DR_27
AGRI_DR_28
AGRI_DR_29
AGRI_DR_50
AGRI_DR_51
AGRI_DR_52
AGRI_DR_53
AGRI_DR_54
AGRI_EQ_10
AGRI_EQ_11
AGRI_EQ_12
AGRI_EQ_13
AGRI_EQ_14
AGRI_EQ_15
AGRI_EQ_16
AGRI_EQ_17
AGRI_EQ_18
AGRI_EQ_19
AGRI_EQ_47
AGRI_EQ_48
AGRI_EQ_49
AGRI_EQ_50
AGRI_EQ_51
AGRI_FL_10
AGRI_FL_11
AGRI_FL_12
AGRI_FL_13
AGRI_FL_14
AGRI_FL_20
AGRI_FL_21
AGRI_FL_22
AGRI_FL_23
AGRI_FL_24
AGRI_FL_51
AGRI_FL_52
AGRI_FL_53
AGRI_FL_54
AGRI_FL_5_
AGRI_LS_10
AGRI_LS_11
AGRI_LS_12
AGRI_LS_13
AGRI_LS_14
AGRI_LS_20
AGRI_LS_21
AGRI_LS_22
AGRI_LS_23
AGRI_LS_24
AGRI_LS_50
AGRI_LS_51
AGRI_LS_52
AGRI_LS_53
AGRI_LS_54
AGRI_MF_10
AGRI_MF_11
AGRI_MF_12
AGRI_MF_13
AGRI_MF_14
AGRI_MF_20
AGRI_MF_21
AGRI_MF_22
AGRI_MF_23
AGRI_MF_24
AGRI_MF_50
AGRI_MF_51
AGRI_MF_52
AGRI_MF_53
AGRI_MF_54
AGRI_SA_10
AGRI_SA_11
AGRI_SA_12
AGRI_SA_13
AGRI_SA_14
AGRI_SA_20
AGRI_SA_21
AGRI_SA_22
AGRI_SA_23
AGRI_SA_24
AGRI_SA_50
AGRI_SA_51
AGRI_SA_52
AGRI_SA_53
AGRI_SA_54
AGRI_WS_20
AGRI_WS_21
AGRI_WS_22
AGRI_WS_23
AGRI_WS_24
AGRI_WS_50
AGRI_WS_51
AGRI_WS_52
AGRI_WS_53
AGRI_WS_54
AGRI_WS_55
AGRI_WS_56
AGRI_WS_57
AGRI_WS_58
AGRI_WS_5_
BUAT_AREA
BUAT_AREA.1
BUAT_AREA.2
BUAT_AREA.3
BUAT_AREA.4
BUAT_AREA.5
BUAT_AREA.6
BUIL_DR_10
BUIL_DR_11
BUIL_DR_12
BUIL_DR_13
BUIL_DR_14
BUIL_DR_25
BUIL_DR_26
BUIL_DR_27
BUIL_DR_28
BUIL_DR_29
BUIL_DR_50
BUIL_DR_51
BUIL_DR_52
BUIL_DR_53
BUIL_DR_54
BUIL_EQ_10
BUIL_EQ_11
BUIL_EQ_12
BUIL_EQ_13
BUIL_EQ_14
BUIL_EQ_15
BUIL_EQ_16
BUIL_EQ_17
BUIL_EQ_18
BUIL_EQ_19
BUIL_EQ_47
BUIL_EQ_48
BUIL_EQ_49
BUIL_EQ_50
BUIL_EQ_51
BUIL_FL_10
BUIL_FL_11
BUIL_FL_12
BUIL_FL_13
BUIL_FL_14
BUIL_FL_20
BUIL_FL_21
BUIL_FL_22
BUIL_FL_23
BUIL_FL_24
BUIL_FL_51
BUIL_FL_52
BUIL_FL_53
BUIL_FL_54
BUIL_FL_5_
BUIL_LS_10
BUIL_LS_11
BUIL_LS_12
BUIL_LS_13
BUIL_LS_14
BUIL_LS_20
BUIL_LS_21
BUIL_LS_22
BUIL_LS_23
BUIL_LS_24
BUIL_LS_50
BUIL_LS_51
BUIL_LS_52
BUIL_LS_53
BUIL_LS_54
BUIL_MF_10
BUIL_MF_11
BUIL_MF_12
BUIL_MF_13
BUIL_MF_14
BUIL_MF_20
BUIL_MF_21
BUIL_MF_22
BUIL_MF_23
BUIL_MF_24
BUIL_MF_50
BUIL_MF_51
BUIL_MF_52
BUIL_MF_53
BUIL_MF_54
BUIL_SA_10
BUIL_SA_11
BUIL_SA_12
BUIL_SA_13
BUIL_SA_14
BUIL_SA_20
BUIL_SA_21
BUIL_SA_22
BUIL_SA_23
BUIL_SA_24
BUIL_SA_50
BUIL_SA_51
BUIL_SA_52
BUIL_SA_53
BUIL_SA_54
BUIL_WS_20
BUIL_WS_21
BUIL_WS_22
BUIL_WS_23
BUIL_WS_24
BUIL_WS_50
BUIL_WS_51
BUIL_WS_52
BUIL_WS_53
BUIL_WS_54
BUIL_WS_55
BUIL_WS_56
BUIL_WS_57
BUIL_WS_58
BUIL_WS_5_
DISTRICT
DISTRICT.1
DISTRICT.2
DISTRICT.3
DISTRICT.4
DISTRICT.5
DISTRICT.6
FID
FID.1
FID.2
FID.3
FID.4
FID.5
FID.6
JAMOAT
JAMOAT.1
JAMOAT.2
JAMOAT.3
JAMOAT.4
JAMOAT.5
JAMOAT.6
JAMOAT_NAM
JAMOAT_NAM.1
JAMOAT_NAM.2
JAMOAT_NAM.3
JAMOAT_NAM.4
JAMOAT_NAM.5
JAMOAT_NAM.6
NR_BUILDIN
NR_BUILDIN.1
NR_BUILDIN.2
NR_BUILDIN.3
NR_BUILDIN.4
NR_BUILDIN.5
NR_BUILDIN.6
NR_PEOPLE
NR_PEOPLE.1
NR_PEOPLE.2
NR_PEOPLE.3
NR_PEOPLE.4
NR_PEOPLE.5
NR_PEOPLE.6
OBJECTID
OBJECTID.1
OBJECTID.2
OBJECTID.3
OBJECTID.4
OBJECTID.5
OBJECTID.6
PEOP_DR_10
PEOP_DR_11
PEOP_DR_12
PEOP_DR_13
PEOP_DR_14
PEOP_DR_25
PEOP_DR_26
PEOP_DR_27
PEOP_DR_28
PEOP_DR_29
PEOP_DR_50
PEOP_DR_51
PEOP_DR_52
PEOP_DR_53
PEOP_DR_54
PEOP_EQ_10
PEOP_EQ_11
PEOP_EQ_12
PEOP_EQ_13
PEOP_EQ_14
PEOP_EQ_15
PEOP_EQ_16
PEOP_EQ_17
PEOP_EQ_18
PEOP_EQ_19
PEOP_EQ_47
PEOP_EQ_48
PEOP_EQ_49
PEOP_EQ_50
PEOP_EQ_51
PEOP_FL_10
PEOP_FL_11
PEOP_FL_12
PEOP_FL_13
PEOP_FL_14
PEOP_FL_20
PEOP_FL_21
PEOP_FL_22
PEOP_FL_23
PEOP_FL_24
PEOP_FL_51
PEOP_FL_52
PEOP_FL_53
PEOP_FL_54
PEOP_FL_5_
PEOP_LS_10
PEOP_LS_11
PEOP_LS_12
PEOP_LS_13
PEOP_LS_14
PEOP_LS_20
PEOP_LS_21
PEOP_LS_22
PEOP_LS_23
PEOP_LS_24
PEOP_LS_50
PEOP_LS_51
PEOP_LS_52
PEOP_LS_53
PEOP_LS_54
PEOP_MF_10
PEOP_MF_11
PEOP_MF_12
PEOP_MF_13
PEOP_MF_14
PEOP_MF_20
PEOP_MF_21
PEOP_MF_22
PEOP_MF_23
PEOP_MF_24
PEOP_MF_50
PEOP_MF_51
PEOP_MF_52
PEOP_MF_53
PEOP_MF_54
PEOP_SA_10
PEOP_SA_11
PEOP_SA_12
PEOP_SA_13
PEOP_SA_14
PEOP_SA_20
PEOP_SA_21
PEOP_SA_22
PEOP_SA_23
PEOP_SA_24
PEOP_SA_50
PEOP_SA_51
PEOP_SA_52
PEOP_SA_53
PEOP_SA_54
PEOP_WS_20
PEOP_WS_21
PEOP_WS_22
PEOP_WS_23
PEOP_WS_24
PEOP_WS_50
PEOP_WS_51
PEOP_WS_52
PEOP_WS_53
PEOP_WS_54
PEOP_WS_55
PEOP_WS_56
PEOP_WS_57
PEOP_WS_58
PEOP_WS_5_
ROAD_DR_10
ROAD_DR_11
ROAD_DR_12
ROAD_DR_13
ROAD_DR_14
ROAD_DR_25
ROAD_DR_26
ROAD_DR_27
ROAD_DR_28
ROAD_DR_29
ROAD_DR_50
ROAD_DR_51
ROAD_DR_52
ROAD_DR_53
ROAD_DR_54
ROAD_EQ_10
ROAD_EQ_11
ROAD_EQ_12
ROAD_EQ_13
ROAD_EQ_14
ROAD_EQ_15
ROAD_EQ_16
ROAD_EQ_47
ROAD_EQ_48
ROAD_EQ_49
ROAD_EQ_50
ROAD_EQ_51
ROAD_FL_10
ROAD_FL_11
ROAD_FL_12
ROAD_FL_13
ROAD_FL_14
ROAD_FL_20
ROAD_FL_21
ROAD_FL_22
ROAD_FL_23
ROAD_FL_24
ROAD_FL_51
ROAD_FL_52
ROAD_FL_53
ROAD_FL_54
ROAD_FL_5_
ROAD_LENGT
ROAD_LENGT.1
ROAD_LENGT.2
ROAD_LENGT.3
ROAD_LENGT.4
ROAD_LENGT.5
ROAD_LENGT.6
ROAD_LS_10
ROAD_LS_11
ROAD_LS_12
ROAD_LS_13
ROAD_LS_14
ROAD_LS_20
ROAD_LS_21
ROAD_LS_22
ROAD_LS_23
ROAD_LS_24
ROAD_LS_50
ROAD_LS_51
ROAD_LS_52
ROAD_LS_53
ROAD_LS_54
ROAD_MF_10
ROAD_MF_11
ROAD_MF_12
ROAD_MF_13
ROAD_MF_14
ROAD_MF_20
ROAD_MF_21
ROAD_MF_22
ROAD_MF_23
ROAD_MF_24
ROAD_MF_50
ROAD_MF_51
ROAD_MF_52
ROAD_MF_53
ROAD_MF_54
ROAD_SA_10
ROAD_SA_11
ROAD_SA_12
ROAD_SA_13
ROAD_SA_14
ROAD_SA_20
ROAD_SA_21
ROAD_SA_22
ROAD_SA_23
ROAD_SA_24
ROAD_SA_50
ROAD_SA_51
ROAD_SA_52
ROAD_SA_53
ROAD_SA_54
ROAD_WS_20
ROAD_WS_21
ROAD_WS_22
ROAD_WS_23
ROAD_WS_24
ROAD_WS_50
ROAD_WS_51
ROAD_WS_52
ROAD_WS_53
ROAD_WS_54
ROAD_WS_55
ROAD_WS_56
ROAD_WS_57
ROAD_WS_58
ROAD_WS_5_
Shape_Area
Shape_Area.1
Shape_Area.2
Shape_Area.3
Shape_Area.4
Shape_Area.5
Shape_Area.6
Shape_Length
Shape_Length.1
Shape_Length.2
Shape_Length.3
Shape_Length.4
Shape_Length.5
Shape_Length.6
TEMP
TEMP.1
TEMP.2
TEMP.3
TEMP.4
TEMP.5
TEMP.6

In [33]:
#to remove duplicated columns in datafreame
df = df.loc[:,~df.columns.duplicated()]

In [34]:
df

,AGRI_AREA,AGRI_AREA.1,AGRI_AREA.2,AGRI_AREA.3,AGRI_AREA.4,AGRI_AREA.5,AGRI_AREA.6,AGRI_DR_10,AGRI_DR_11,AGRI_DR_12,...,Shape_Length.4,Shape_Length.5,Shape_Length.6,TEMP,TEMP.1,TEMP.2,TEMP.3,TEMP.4,TEMP.5,TEMP.6
0,2992,2992,2992,2992,2992,2992,2992,0,0,0,...,143639.872484,143639.872484,143639.872484,100,0,0,0,0,0,0
1,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,76782.018110,76782.018110,76782.018110,95,0,0,0,0,0,0
2,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,31333.528856,31333.528856,31333.528856,95,0,0,0,0,0,0
3,1064,1064,1064,1064,1064,1064,1064,0,0,0,...,73993.806147,73993.806147,73993.806147,100,0,0,0,0,0,0
4,11576,11576,11576,11576,11576,11576,11576,0,0,0,...,160412.185629,160412.185629,160412.185629,100,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,10636,10636,10636,10636,10636,10636,10636,0,0,0,...,61089.242522,61089.242522,61089.242522,99,0,0,0,0,0,0
1,5857,5857,5857,5857,5857,5857,5857,0,0,0,...,32691.648718,32691.648718,32691.648718,63,0,0,0,0,0,0
2,6566,6566,6566,6566,6566,6566,6566,0,0,0,...,37212.766270,37212.766270,37212.766270,0,0,0,0,0,0,0
3,4928,4928,4928,4928,4928,4928,4928,0,0,0,...,32388.667103,32388.667103,32388.667103,0,0,0,0,0,0,0
4,11905,11905,11905,11905,11905,11905,11905,0,0,0,...,48921.648995,48921.648995,48921.648995,0,0,0,0,0,0,0

In [35]:
df.drop_duplicates(subset='JAMOAT_NAM', inplace=True)

In [36]:
df

,AGRI_AREA,AGRI_AREA.1,AGRI_AREA.2,AGRI_AREA.3,AGRI_AREA.4,AGRI_AREA.5,AGRI_AREA.6,AGRI_DR_10,AGRI_DR_11,AGRI_DR_12,...,Shape_Length.4,Shape_Length.5,Shape_Length.6,TEMP,TEMP.1,TEMP.2,TEMP.3,TEMP.4,TEMP.5,TEMP.6
0,2992,2992,2992,2992,2992,2992,2992,0,0,0,...,143639.872484,143639.872484,143639.872484,100,0,0,0,0,0,0
1,1980,1980,1980,1980,1980,1980,1980,0,0,0,...,76782.018110,76782.018110,76782.018110,95,0,0,0,0,0,0
3,1064,1064,1064,1064,1064,1064,1064,0,0,0,...,73993.806147,73993.806147,73993.806147,100,0,0,0,0,0,0
4,11576,11576,11576,11576,11576,11576,11576,0,0,0,...,160412.185629,160412.185629,160412.185629,100,0,0,0,0,0,0
5,7985,7985,7985,7985,7985,7985,7985,0,0,0,...,182506.616447,182506.616447,182506.616447,100,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,10636,10636,10636,10636,10636,10636,10636,0,0,0,...,61089.242522,61089.242522,61089.242522,99,0,0,0,0,0,0
1,5857,5857,5857,5857,5857,5857,5857,0,0,0,...,32691.648718,32691.648718,32691.648718,63,0,0,0,0,0,0
2,6566,6566,6566,6566,6566,6566,6566,0,0,0,...,37212.766270,37212.766270,37212.766270,0,0,0,0,0,0,0
3,4928,4928,4928,4928,4928,4928,4928,0,0,0,...,32388.667103,32388.667103,32388.667103,0,0,0,0,0,0,0
4,11905,11905,11905,11905,11905,11905,11905,0,0,0,...,48921.648995,48921.648995,48921.648995,0,0,0,0,0,0,0